fastapi
uvicorn
sqlalchemy
asyncpg
psycopg2-binary
supabase
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
PyPDF2
httpx
email-validator
python-multipart
google-genai
alembic
duckduckgo-search>=4.1.1